# Assignment on Store_sales dataset

**Load the Dataset**

In [5]:
import pandas as pd
store_sales=pd.read_csv("store_sales.csv")                     
store_sales.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

In [6]:
store_sales['TotalSales']=store_sales.iloc[:,2:].sum(axis=1)
print(store_sales[['store_id','TotalSales']])

   store_id  TotalSales
0       S_1         178
1       S_2         174
2       S_3         181
3       S_4         135
4       S_5         159
..      ...         ...
95     S_96         185
96     S_97         154
97     S_98         168
98     S_99         173
99    S_100         180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [15]:
avg=store_sales.iloc[:,2:].mean()
print(avg)

Jan            14.46
Feb            15.09
Mar            14.56
Apr            14.57
May            13.56
Jun            13.80
July           14.38
Aug            15.81
Sep            14.91
Oct            14.10
Nov            15.31
Dec            13.57
TotalSales    174.12
dtype: float64

**Identify the store with the highest total sales.**

In [10]:
high=store_sales[store_sales['TotalSales']==store_sales['TotalSales'].max()]
high

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,TotalSales
61,S_62,California,16,21,6,22,22,9,21,21,22,17,16,21,214
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13,214

**Calculate the total sales for each city.**

In [11]:
city_sales=store_sales.groupby('city').sum(numeric_only=True)
city_sales

,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,TotalSales
city,,,,,,,,,,,,,
Arizona,341,336,320,329,310,332,322,341,337,329,361,293,3951
California,634,668,629,601,570,589,637,698,640,614,657,585,7522
Texas,471,505,507,527,476,459,479,542,514,467,513,479,5939

**List stores with total sales greater than 200**

In [13]:
stores=store_sales[store_sales['TotalSales']>200]
stores

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,TotalSales
37,S_38,California,21,10,13,11,11,14,24,24,24,21,16,18,207
39,S_40,Texas,22,21,13,13,14,15,6,24,16,23,13,24,204
50,S_51,Arizona,17,23,14,19,23,12,20,21,13,18,6,24,210
61,S_62,California,16,21,6,22,22,9,21,21,22,17,16,21,214
69,S_70,Texas,24,16,24,20,14,21,15,13,18,22,10,9,206
72,S_73,California,20,24,24,18,7,22,12,21,20,18,21,6,213
77,S_78,Arizona,19,23,19,24,13,12,24,17,22,16,17,5,211
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13,214
86,S_87,Texas,19,20,10,13,12,5,20,23,21,14,24,22,203
92,S_93,California,20,13,15,12,15,19,21,22,10,21,23,13,204

**Which month had the highest average sales across all stores?**

In [22]:
avg_sales=store_sales.iloc[:,2:].mean()
high_avg=avg_sales.idxmax()
print(high_avg)

Aug

**Which city generated the most revenue?**

In [23]:
store_sales['TotalSales']=store_sales.iloc[:,2:].sum(axis=1)
city_sales=store_sales.groupby('city')['TotalSales'].sum()
high_sales=city_sales.idxmax()
print(high_sales)

California